.ToggleCard {
    display: flex;
    flex-direction: column;

    &__button {
        padding: 1rem 3rem;
        margin: 10px;
        background-color: #7248b6;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #5c4187;
            box-sizing: border-box;
        }
    }
}
